<!-- Schedule section -->
<section id="schedule">
    <div class="schedule-content-wrap">
        <h2>Schedule</h2>
        <div class="row">
            <div class="columns large-6">
                <strong>Main Ceremony</strong>
                <img src="http://placehold.it/175x175" alt="">
                <div class="event-details">
                    <p>2:00pm-4:00pm<br>
                        Los Angeles, CA<br>
                        10, FIRST AVENUE<br>
                        <a href="">VIEW DIRECTIONS</a></p>
                    <p>Lorem ipsum dolor sit amet, con pisi cing elit, sed do eiusmod tempor exercitationemut labore et dolore magna aliqua. Ut enim ad consequatur</p>
                </div><!-- End .event-details -->
            </div><!-- End .columns.large-6 -->
            <div class="columns large-6">
                <strong>Wedding Party</strong>
                <img src="http://placehold.it/175x175" alt="">
                <div class="event-details">
                    <p>2:00pm-4:00pm<br>
                        Los Angeles, CA<br>
                        10, FIRST AVENUE<br>
                        <a href="">VIEW DIRECTIONS</a></p>
                    <p>Lorem ipsum dolor sit amet, con pisi cing elit, sed do eiusmod tempor exercitationemut labore et dolore magna aliqua. Ut enim ad consequatur</p>
                </div><!-- End .event-details -->
            </div><!-- End .columns.large-6 -->
        </div><!-- End .row -->
    </div><!-- End .schedule-content-wrap -->
</section><!-- End #schedule -->